VITE_SUPABASE_URL=https://pepqwkcsjietlzwjleij.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBlcHF3a2NzamlldGx6d2psZWlqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkzMzI5MzIsImV4cCI6MjA5NDkwODkzMn0.xF9ROS7p_FJt5m6H44EbO8oxZPNeOjQx-ZuVcnh_IDM